<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div style="background-image: url('https://i.ibb.co/K6j0Tw6/birmingham-museums-trust-iy-ZWdk-Bi-Mfw-unsplash.jpg');" class="jumbotron">
          <h2 class="text-center text-white">Welcome To Quote Session</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header">
          <h2>Famous Quotes</h2>
           <hr/>
        </div>
        <div class="main-container" *ngFor = "let quote of quotes; let i = index">
          <div class="quotes">
          <p>Quote: {{quote.quote}}</p>
          <span class="font-italic">Submitted {{quote.submitDate| teacher}} days ago</span>       
        </div>
        <button class="btn btn-info" (click)='showDetails(i)'>details</button>
        <div class="description">
          <app-quotes-detail *ngIf="quote.showDetails" [description]='quote'></app-quotes-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-newquote (newQuote) = "addQuote($event)"></app-newquote>
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>