<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="header">
          <h2>Some Famous Quotes</h2>
           <hr/>
        </div>
        <div class="main-container" *ngFor = "let quote of quotes; let i = index">
          <div class="quotes">
          <p>Quote: {{quote.quote}}</p>       
        </div>
        <button class="btn btn-info" (click)='showDetails(i)'>details</button>
        <div class="description">
          <app-quote-details *ngIf="quote.showDetails" [description]='quote'></app-quote-details>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-new-quote (newQuote) = "addQuote($event)"></app-new-quote>
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>